<div class="cert-fac-container">
  <div class="cert-fac-grid">

    <!-- Cleveland -->
    <div class="cert-fac-card">
      <div class="cert-fac-header">
        <h3 class="cert-fac-title" data-lfr-editable-id="fac-title-1" data-lfr-editable-type="text">Cleveland, OH</h3>
      </div>
      <ul class="cert-list">
        <li class="cert-item">
          <a href="#" class="cert-link" data-lfr-editable-id="fac-1-link-1" data-lfr-editable-type="link">
            <span class="cert-name">ISO/IEC 17025:2017 Accreditation - Chemical & Mechanical</span>
            <svg class="cert-download-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </a>
        </li>
        <li class="cert-item">
          <a href="#" class="cert-link" data-lfr-editable-id="fac-1-link-2" data-lfr-editable-type="link">
            <span class="cert-name">ISO 9001 Certificate of Registration</span>
            <svg class="cert-download-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </a>
        </li>
        <li class="cert-item">
          <a href="#" class="cert-link" data-lfr-editable-id="fac-1-link-3" data-lfr-editable-type="link">
            <span class="cert-name">IATF 16949 Certificate of Registration</span>
            <svg class="cert-download-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </a>
        </li>
      </ul>
    </div>

    <!-- Saukville -->
    <div class="cert-fac-card">
      <div class="cert-fac-header">
        <h3 class="cert-fac-title" data-lfr-editable-id="fac-title-2" data-lfr-editable-type="text">Saukville, WI</h3>
      </div>
      <ul class="cert-list">
        <li class="cert-item">
          <a href="#" class="cert-link" data-lfr-editable-id="fac-2-link-1" data-lfr-editable-type="link">
            <span class="cert-name">ISO/IEC 17025:2017 Accreditation - Chemical & Mechanical - Melting</span>
            <svg class="cert-download-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </a>
        </li>
        <li class="cert-item">
          <a href="#" class="cert-link" data-lfr-editable-id="fac-2-link-2" data-lfr-editable-type="link">
            <span class="cert-name">ISO/IEC 17025:2005 Accreditation - Mechanical</span>
            <svg class="cert-download-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </a>
        </li>
        <li class="cert-item">
          <a href="#" class="cert-link" data-lfr-editable-id="fac-2-link-3" data-lfr-editable-type="link">
            <span class="cert-name">ISO/IEC 17025:2017 Accreditation - Mechanical - Processing</span>
            <svg class="cert-download-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </a>
        </li>
        <li class="cert-item">
          <a href="#" class="cert-link" data-lfr-editable-id="fac-2-link-4" data-lfr-editable-type="link">
            <span class="cert-name">ISO 9001 Certificate of Registration</span>
            <svg class="cert-download-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </a>
        </li>
        <li class="cert-item">
          <a href="#" class="cert-link" data-lfr-editable-id="fac-2-link-5" data-lfr-editable-type="link">
            <span class="cert-name">IATF 16949 Certificate of Registration</span>
            <svg class="cert-download-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </a>
        </li>
      </ul>
    </div>

    <!-- Fostoria -->
    <div class="cert-fac-card">
      <div class="cert-fac-header">
        <h3 class="cert-fac-title" data-lfr-editable-id="fac-title-3" data-lfr-editable-type="text">Fostoria, OH</h3>
      </div>
      <ul class="cert-list">
        <li class="cert-item">
          <a href="#" class="cert-link" data-lfr-editable-id="fac-3-link-1" data-lfr-editable-type="link">
            <span class="cert-name">ISO/IEC 17025:2017 Accreditation - Mechanical</span>
            <svg class="cert-download-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </a>
        </li>
        <li class="cert-item">
          <a href="#" class="cert-link" data-lfr-editable-id="fac-3-link-2" data-lfr-editable-type="link">
            <span class="cert-name">ISO 9001 Certificate of Registration</span>
            <svg class="cert-download-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </a>
        </li>
        <li class="cert-item">
          <a href="#" class="cert-link" data-lfr-editable-id="fac-3-link-3" data-lfr-editable-type="link">
            <span class="cert-name">IATF 16949 Certificate of Registration</span>
            <svg class="cert-download-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
